node_modules/
npm-debug.log
.DS_STORE
.DS_Store
desktop.ini
settings.json
.gradle
.gradle/*
gradlew
gradlew.*
gradle/*
gradle-*
.idea
.idea/*
local.properties
client.iml
build.gradle
.vscode
.vscode/**
coverage/**
lcov/**
data/__tests__/Practice-test.js
